<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="com.example.woko_app">

    <uses-permission android:name="android.permission.INTERNET" />

    <application
        android:name="com.activeandroid.app.Application"
        android:allowBackup="true"
        android:icon="@drawable/logo_klein"
        android:label="@string/app_name"
        android:supportsRtl="true"
        android:theme="@style/AppTheme">

        <activity android:name=".activity.HistoryActivity"
            android:screenOrientation="landscape"></activity>

        <!-- Home Activity -->
        <activity
            android:name=".activity.HV_HomeActivity"
            android:excludeFromRecents="true"
            android:noHistory="true"
            android:screenOrientation="landscape" />

        <!-- Edit Activity -->
        <activity
            android:name=".activity.HV_EditActivity"
            android:screenOrientation="landscape" />

        <!-- Login Activity -->
        <activity
            android:name=".activity.LoginActivity"
            android:excludeFromRecents="true"
            android:noHistory="true"
            android:screenOrientation="landscape">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>

        <meta-data
            android:name="AA_DB_NAME"
            android:value="APManager.db" />
        <meta-data
            android:name="AA_DB_VERSION"
            android:value="2" />
    </application>

</manifest>
